---
layout: default
title: Home
group: "in_local_navigation"
order: 1
---

<div class="columns medium-12" markdown="1">
<div class="columns medium-12" markdown="1">
# IMEx data

- A non-redundant set of physical molecular interaction data from a broad taxonomic range of organisms.
- Expertly curated from direct submissions, peer-reviewed journals or pre-prints to a consistent high standard.
- Available in standard formats <a href="http://www.biomedcentral.com/1741-7007/5/44">MITAB</a> or <a href="http://www.psidev.info/index.php?q=node/60">PSI-MI XML 3.0</a>
- Provided by a network of participating major public domain databases.
</div>
<div class="columns medium-12">
{% include search.html %}
</div>
</div>

<div class="columns medium-12" markdown="1">
<div class="row" data-equalizer data-equalize-on="medium" markdown="1">
<div class="medium-6 columns" markdown="1">
<div class="callout" data-equalizer-watch>
    <h3>News</h3>
    <a class="twitter-timeline" data-width="563" data-theme="light" href="https://twitter.com/intact_project?ref_src=twsrc%5Etfw">Tweets by intact_project</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>
<div class="medium-6 columns" markdown="1">
<div class="callout" data-equalizer-watch markdown="1">
### Citing IMEx
<p>Orchard, S., et al. (2013)</p>
<p>The MIntAct project - IntAct as a common curation platform for 11 molecular interaction databases. Nucleic Acids Research, 42(Database issue):D358-63, 13 Nov 2013, PMID: 242344510 <a href="https://europepmc.org/article/MED/24234451">Abstract</a> <a href="https://academic.oup.com/nar/article/42/D1/D358/1051282">Article</a> </p>
</div>
</div>
</div>
</div>
{% include ga.html %}
